In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np

In [2]:
# Import dataset
vgreviews_df = pd.read_csv('Resources/result.csv')
vgreviews_df

,metascore,name,console,userscore,date
0,97,Grand Theft Auto V,PS3,8.3,"Sep 17, 2013"
1,97,Grand Theft Auto V,X360,8.3,"Sep 17, 2013"
2,95,The Last of Us,PS3,9.2,"Jun 14, 2013"
3,94,BioShock Infinite,PS3,8.5,"Mar 26, 2013"
4,94,BioShock Infinite,PC,8.6,"Mar 25, 2013"
...,...,...,...,...,...
15642,38,Touhou Kobuto V: Burst Battle,Switch,4.6,"Oct 10, 2017"
15643,38,Randall,PS4,2.1,"Jun 6, 2017"
15644,36,Tokyo Tattoo Girls,VITA,5.4,"Nov 14, 2017"
15645,26,Road Rage,PS4,2.5,"Nov 14, 2017"
15646,17,Vroom in the Night Sky,Switch,3.1,"Apr 5, 2017"

In [3]:
vgreviews_df.drop(['console', 'date'], axis=1, inplace=True)

In [4]:
vgreviews_df = vgreviews_df[vgreviews_df.userscore != 'tbd']

In [5]:
vgreviews_df.isnull().sum()

metascore    0
name         0
userscore    0
dtype: int64

In [6]:
vgreviews_df.dtypes

metascore     int64
name         object
userscore    object
dtype: object

In [7]:
vgreviews_df = vgreviews_df.astype({'userscore': float})

In [8]:
vgreviews_df.dtypes

metascore      int64
name          object
userscore    float64
dtype: object

In [9]:
vgreviews_df['userscore'] = vgreviews_df['userscore'] * 10

In [10]:
vgreviews_df

       metascore                           name  userscore
0             97             Grand Theft Auto V       83.0
1             97             Grand Theft Auto V       83.0
2             95                 The Last of Us       92.0
3             94              BioShock Infinite       85.0
4             94              BioShock Infinite       86.0
...          ...                            ...        ...
15642         38  Touhou Kobuto V: Burst Battle       46.0
15643         38                        Randall       21.0
15644         36             Tokyo Tattoo Girls       54.0
15645         26                      Road Rage       25.0
15646         17         Vroom in the Night Sky       31.0

[14274 rows x 3 columns]

In [11]:
vgreviews_df.isnull().sum()

metascore    0
name         0
userscore    0
dtype: int64

In [12]:
print(f"Duplicate entries: {vgreviews_df.duplicated().sum()}")

Duplicate entries: 57

In [13]:
vgreviews_df = vgreviews_df.drop_duplicates(subset=['name'])

In [14]:
print(f"Duplicate entries: {vgreviews_df.duplicated().sum()}")

Duplicate entries: 0

In [15]:
vgreviews_df

       metascore                    name  userscore
0             97      Grand Theft Auto V       83.0
2             95          The Last of Us       92.0
3             94       BioShock Infinite       85.0
6             93    Super Mario 3D World       89.0
7             92  Fire Emblem: Awakening       91.0
...          ...                     ...        ...
15640         38           Dying: Reborn       52.0
15643         38                 Randall       21.0
15644         36      Tokyo Tattoo Girls       54.0
15645         26               Road Rage       25.0
15646         17  Vroom in the Night Sky       31.0

[9616 rows x 3 columns]

In [17]:
vgreviews_df.to_csv('Resources/Video_Games.csv', index=False)